@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<main>


    <section class="topics-detail-section section-padding" id="topics-detail">
        <div class="container">
            <div class="row">
                <!-- Hàng hiển thị tiêu đề -->
                <div class="col-lg-8 col-12 m-auto">
                    <h3 class="mb-4 text-center">Introduction to Web Design</h3> <!-- Tiêu đề ở trên -->
                    <div class="row">
                        <!-- Ảnh bên trái -->
                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="images/businesswoman-using-tablet-analysis.jpg"
                                 class="topics-detail-block-image img-fluid">
                        </div>
                        <!-- Nội dung bên phải -->
                        <div class="col-lg-6 col-md-6 col-12">
                            <p>
                                So how can you stand out, do something unique and interesting, build an online business, and
                                get paid enough to change life. Please visit TemplateMo website to download free website
                                templates.
                            </p>
                        </div>
                    </div>
                    <!-- Nút Subscribe bên phải dưới nội dung -->
                    <div class="row mt-4 justify-content-end">
                        <div class="col-lg-3 col-md-6 col-12">
                            <form class="custom-form subscribe-form" action="#" method="post" role="form">
                                <button type="submit" class="form-control">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
