@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<section class="explore-section section-padding" id="section_2">
            <div class="container">

                <div class="col-12 text-center">
                    <h3 class="mb-4">List of courses</h3>
                </div>
            </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12 col-8 mb-4">
                        <div class="custom-block bg-white shadow-lg d-flex" style="height: 200px;">
                            <div class="content-left" style="flex: 1;">
                                <h5 class="mb-2">IELTS Beginner</h5>
                                <img src="images/topics/undraw_Remote_design_team_re_urdx.png" class="img-fluid" alt="" style="width: 100%; height: 100px; object-fit: cover;">
                            </div>
                            <div class="content-right d-flex flex-column justify-content-center ms-3" style="flex: 2;">
                                <p class="mb-0">Topic Listing Template based on Bootstrap 5</p>
                                <span class="badge bg-design rounded-pill mt-auto">14</span>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-8 col-md-12 col-12 mb-4">
                        <div class="custom-block bg-white shadow-lg d-flex" style="height: 200px;">
                            <div class="content-left" style="flex: 1;">
                                <h5 class="mb-2">IELTS Advance</h5>
                                <img src="images/topics/undraw_Redesign_feedback_re_jvm0.png" class="img-fluid" alt="" style="width: 100%; height: 100px; object-fit: cover;">
                            </div>
                            <div class="content-right d-flex flex-column justify-content-center ms-3" style="flex: 2;">
                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                <span class="badge bg-design rounded-pill mt-auto">75</span>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-8 col-md-12 col-12 mb-4">
                        <div class="custom-block bg-white shadow-lg d-flex" style="height: 200px;">
                            <div class="content-left" style="flex: 1;">
                                <h5 class="mb-2">IELTS Kid</h5>
                                <img src="images/topics/colleagues-working-cozy-office-medium-shot.png" class="img-fluid" alt="" style="width: 100%; height: 100px; object-fit: cover;">
                            </div>
                            <div class="content-right d-flex flex-column justify-content-center ms-3" style="flex: 2;">
                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                <span class="badge bg-design rounded-pill mt-auto">100</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12 col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                            </li>

                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">1</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
        </section>

